body {
  font-family: sans-serif, sans-serif;
  margin: 0;
  padding: 0;
  background: #ffffff;
}

header {
  color: white;
  padding-top: 1.5rem;
  padding-bottom: 0.5rem;
  padding-left: 4rem;
  padding-right: 4rem;
  text-align: center;
}

main {
  /* padding: 2rem; */
}

button {
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  background: black;
  color: white;
  border-radius: 5px;
}

button:hover {
  background: #444;
}

header p {
  color: #000;
  font-family: sans-serif;
  font-weight: 600;
  font-size: 12px;
}

h1 {
  color: #000;
  font-family: sans-serif;
  font-weight: 600;
  font-size: 36px;
}

.banner-content {
  top: 50%;
  right: 160px;
  transform: translate(0%, -50%);
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner-heading {
  color: white;
  font-family: sans-serif;
  font-weight: 700;
  font-size: 48px;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.primary-button {
  color: #fff;
  border-radius: 0px;
  background: #024e82;
  padding: 10px 20px;
  cursor: pointer;
}

.primary-white-button {
  color: #024e82;
  border-radius: 0px;
  background: #fff;
  padding: 10px 20px;
  cursor: pointer;
}

.secondary-button {
  color: white;
  border: 5px solid white;
  border-radius: 0px;
  background: transparent;
  padding: 10px 20px;
  cursor: pointer;
}

.section-heading {
  color: #000;
  font-family: sans-serif;
  margin-top: 52px;
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 36px;
  text-align: center;
}

.section-subHeading {
  color: #000;
  font-family: sans-serif;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
}

.grid-container {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
  row-gap: 48px;
  padding: 62px;
  box-sizing: border-box;
}

.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

@media (max-width: 900px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr); /* 2 per row on tablets */
  }
}

@media (max-width: 500px) {
  .grid-container {
    grid-template-columns: repeat(1, 1fr); /* 1 per row on mobile */
  }
}

.product-title {
  font-size: 16;
  margin: 16px 0px 6px 0px;
  font-family: sans-serif;
  font-weight: 600;
}

.product-price {
  font-size: 16;
  font-family: sans-serif;
  font-weight: 500;
  color: #024e82;
  flex: 1;
  word-wrap: break-word;
}

.product-image {
  height: 342px;
  width: 295px;
  object-fit: fill;
}

.benefits-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  background-color: #fbfbfb;
  width: 90%;
  min-width: 0;
  gap: 5%;
  padding-right: 5%;
  padding-left: 5%;
  padding-top: 20px;
  padding-bottom: 20px;
}

@media (max-width: 600px) {
  .benefits-row {
    padding: 16px;
  }
}

.benefit-item {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: flex-start;

  flex: 1 1 220px; /* <-- important */
  min-width: 200px; /* minimum width item can shrink to */
  max-width: 1fr; /* optional: prevents items from growing too wide */
  box-sizing: border-box;
}

.benefit-text {
  display: flex;
  flex-direction: column;
  flex: 1; /* text column takes remaining space */
  min-width: 0; /* critical: allows text to shrink */
  overflow-wrap: break-word;
}

.benefit-title {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 12px;
}

.benefit-subtitle {
  margin-top: 0px;
  font-size: 14px;
  color: #555;
  font-weight: 400;
}

.topseller-row {
  display: flex;
  flex-wrap: nowrap; /* important: don’t wrap items */
  gap: 20px; /* spacing between items */
  padding: 62px 62px; /* optional padding */
  box-sizing: border-box;
  flex: 0 0 auto;
  scroll-behavior: smooth; /* smooth scrolling */
}

.offer-card {
  padding: 120px 40px 120px 40px;
  background-color: #000;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

.offer-heading {
  color: #fff;
  font-family: sans-serif;
  font-size: 32;
  font-weight: 400;
  text-transform: uppercase;
}

.offer-subHeading {
  color: #fff;
  font-family: sans-serif;
  font-size: 18;
  font-weight: 400;
  text-align: center;
  line-height: 24px;
}
